// Media queries
$mobile: "375px";

// Colours

$UnsaturateRed: hsl(0, 36%, 70%);
$SoftRed: hsl(0, 93%, 68%);
$DarkGrayishRed: hsl(0, 6%, 24%);

//Typography

$FontSize: "16px";
$FontFamily: "'Josefin Sans', sans-serif;";