/*importing partial files*/
@import "variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: $FontSize;
  font-family: $FontFamily;
}

//Footer styling
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;


  &_text-section {
    width: 60%;
    background: transparent linear-gradient(221deg, #FFF1F1 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    opacity: 1;


    &_logo {
      margin-top: 60px;
      margin-left: 150px;
    }

    &_titles {
      text-transform: uppercase;
      margin-left: 150px;
      font-family: 'Josefin Sans', sans-serif;

      &--1 {
        font-weight: 300;
        padding: 0px;
        font-size: 50px;
        line-height: 20px;
        color: $UnsaturateRed;
        letter-spacing: 15px;

      }

      &--2 {
        font-weight: 600;
        padding: 0px;
        line-height: 30px;
        color: $DarkGrayishRed;
        font-weight: 600;
        font-size: 50px;
        letter-spacing: 15px;
      }

    }

    &_paragraph {
      margin-left: 150px;
      width: 444px;
      height: 84px;
      font-family: 'Josefin Sans', sans-serif;
      color: $UnsaturateRed;
      line-height: 30px;
      font-size: $FontSize;
      font-weight: 600;

    }

    &_form {
      margin-top: 50px;
      margin-left: 148px;

      &--input {
        width: 445px;
        height: 56px;
        border: 1px solid $UnsaturateRed;
        border-radius: 28px;
        opacity: 0.5;
        position: relative;
      }

      &--button {
        width: 100px;
        height: 56px;
        background: transparent linear-gradient(119deg, #F8BFBF 0%, #EE8B8B 100%) 0% 0% no-repeat padding-box;
        border-radius: 28px;
        border: 1px solid transparent;
        position: absolute;
        left: 500px;
      }
    }
  }

  &_hero-section {
    height: 100vh;
    width: 40%;


    &--img {
      width: 100%;
    }
  }
}

::placeholder {
  color: $UnsaturateRed;
  font-size: $FontSize;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  padding-left: 25px;
}